@model YaseinPortfolio.Models.MyWork

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Work</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MyWorkName" class="control-label"></label>
                <input asp-for="MyWorkName" class="form-control" />
                <span asp-validation-for="MyWorkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyWorkImg" class="control-label"></label>
            <input asp-for="MyWorkImg" type="file" class="form-control" />
                <span asp-validation-for="MyWorkImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyWorkUrl" class="control-label"></label>
                <input asp-for="MyWorkUrl" class="form-control" />
                <span asp-validation-for="MyWorkUrl" class="text-danger"></span>
            </div>
         <div class="form-group">
            <br />

            <input type="submit" value="Create" class="btn btn-danger btn-buy-now" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

